server=1
port=10333
txindex=0
blocksxor=0

prune=102400

datadir=/data
blocksdir=/data
dbcache=4096

rpcbind=0.0.0.0
rpcallowip=0.0.0.0/0
rpcport=10332
rpcuser=fip101
rpcpassword={REPLACE_RPC_PASSWORD}
rpcworkqueue=2048
rpcthreads=32
rpcservertimeout=120

zmqpubrawblock=tcp://0.0.0.0:10330
zmqpubrawtx=tcp://0.0.0.0:10331
